body{
  background: #8AC5AB;
}
.main{
  display: flex;
  margin: 2%;
  border: 2px solid black;
  padding: 1%;
  width: 95%;

}
.main section{
  width: 95%;
  border: 2px solid black;
  margin: 2%;
  padding: 2%;
}
section{
  background: #A447B6;
  text-align: center;
}
input,select{
  width: 95%;
  margin: 1%;
  padding: 1%;
  border: 1px solid orange;
}
#career{
  width: 95%;
  margin: 1%;
  padding:2%;
  display: block;
}
button{
  width:95%;
  background-color: #2334B8;
  color:#ddd;
  margin: 2%;
  padding: 1%;
  font-size: 30px;
  font-weight: bold;
}
